/* impedisco lo scroll orizziontale generato dalle animazioni */
body{
    overflow-x: hidden;
    background-color: var(--accent);
}
/* impostazioni colori */
:root{
    --primary: rgb(55, 143, 158);
    --secondary: rgb(84, 72, 62);
    --accent:  #DFE7E8;
    --white-custom: #FFFFFF;
    --black-custom: rgb(44, 44, 44);
}

/* classi colore */
.text-primaryC{
    color: var(--primary);
}
.text-secondaryC{
    color: var(--secondary);
}
.text-accent{
    color: var(--accent);
}
.text-white{
    color: var(--white-custom);
}
.text-black{
    color: var(--black-custom)
}

/* classi colore background */
.background-primary{
    background-color: var(--primary);
}
.background-secondary{
    background-color: var(--secondary);
}
.background-accent{
    background-color: var(--accent);
}
.background-white{
    background-color: var(--white);
}
.background-black{
    background-color: var(--black-custom);
}

/* settings fonts */
*{
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3{
    font-family: 'Dosis', sans-serif;
}

/* navbar */
.btn-custom{
    background-color: var(--secondary);
    color: var(--primary);
    transition: 0.3s;
}

.btn-custom:hover{
    background-color: var(--black-custom);
    color: var(--white-custom);

}

.logo1{
    height: 80px;
}
.logo2{
    height: 80px;
}


.hand{
    background: var(--secondary);
    color: var(--primary);
}
.hand:hover{
    
    color:var(--white-custom);
}

#navIcon{
    transition: 0.4s;
}

#nBar{
    transition: 0.5s;
    height: 120px;
    
}





/* header*/
.header-custom{
    background: linear-gradient(180deg, rgba(55, 143, 158, 0.508),rgba(232, 227, 223, 0.588) ), url('./media/manipiantina.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.titleC{
    font-family: 'Dosis' ;   
}

/* sezione AOS */
.imgS{
    height: 60%;
}

.increment-numbers{
     font-size: 70px;
     color: var(--primary);
     font-weight: 900;
}

/* swiper */
.swiper {
    /* width: 1000px; */
    height: 600px;
}
/* .image-swiper{
    height: 400px;
} */
/* swiper2 */
.card-custom{
    width: 300px;
    height: 200px;
    border: 2px solid var(--primary);
    border-radius: 20px;
    color: var(--secondary);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
/* sezione mouse enter */
.col-custom{
    width: 300px;
    height: 200px;
    border: 2px solid var(--accent);
    border-radius: 20px;
    background-color: var(--accent);
    color: var(--secondary);
    padding: 20px;
}

.col-custom:hover{
    background-color: var(--secondary);
    color: var(--accent);
    border: var(--secondary);
    transform: scale(1.2);
    transition: 0.5s;

}
/* media query per mobile anzichè ingrandirsi su mobile si rimpizzolisce */
@media screen and (max-width: 900px){
    .col-custom:hover{
        
        transform: scale(0.8);
       
    }
    
}

/* footer */
.min-h{
    height: 50px;
}

.footer-link{
    text-decoration: none;
    color: var(--accent);
}
.footer-link:hover{
    color: var(--primary);
}
 

/* pagina annunci (i nostri prodotti) */
/* cards i nostri prodotti */
.announcement-card{

    min-height: 300px;
    border:2px solid var(--secondary);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}
.colourM{
    color:var(--primary);
}

/* input */
.inputNumbers{
    color: var(--primary);
    font-size: 23px;
    font-weight: 800;
}

.img-card-custom{
    height: 150px;
    border-radius: 50%;
}